<div class="container mt-5" style="max-width: 420px;">
    <h2 class="mb-4">Reset Password</h2>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="password">New Password</label>
            <input id="password" type="password" formControlName="password" />
            <div *ngIf="resetPasswordForm.get('password')?.hasError('minlength') && resetPasswordForm.get('password')?.touched" class="alert alert-danger">
                Password must be at least 8 characters long.
            </div>
            <div *ngIf="resetPasswordForm.get('password')?.hasError('required') && resetPasswordForm.get('password')?.touched" class="alert alert-danger">
                Password is required.
            </div>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword" />
            <div *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.get('confirmPassword')?.touched" class="alert alert-danger">
                Passwords do not match.
            </div>
        </div>
        <!-- </div> -->
        <button type="submit">Reset Password</button>
  
    </form>
</div>
    